<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>404</title>
    <link rel="stylesheet" href="/public/css/403.css">
</head>
<body>
<div class="box">
    <div class="logo">
        <img src="/public/fonts/403.png" class="logo-404">
    </div>
    <h2 style="text-align: center;color: red">抱歉，您目前没有访问权限，请联系管理员</h2>
    <div class="logo-return">
        <button type="submit" class="btn-return">返回首页</button>
    </div>
</div>
</body>
<script src="/public/js/403.js"></script>
</html>