{{extend './layout.html'}}
{{block 'title'}}添加学分指标{{/block}}

{{block 'head'}}
<link rel="stylesheet" href="/public/css/LiUniversal.css">
<link rel="stylesheet" href="/public/css/addNewIndicator.css">
{{/block}}

{{block 'body'}}
<div class="popUps" style="display: none;">
    <span>
        <i class="iconfont">对号</i>
    </span>
    查询成功
</div>
<div class="popUps wrong" style="display: none;">
    <span>
        <i class="iconfont">叉号</i>
    </span>
    网络错误
</div>
<div class="popUps wrong" style="display: none;">
    <span>
        <i class="iconfont">叉号</i>
    </span>
    请选择查询内容
</div>
<div class="popUps wrong" style="display: none;">
    <span>
        <i class="iconfont">叉号</i>
    </span>
    请选择删除内容
</div>
<div class="popUps" style="display: none;">
    <span>
        <i class="iconfont">对号</i>
    </span>
    删除成功
</div>
<div class="popUps wrong" style="display: none;">
    <span>
        <i class="iconfont">叉号</i>
    </span>
    请输入合法数字
</div>
<div class="popUps wrong" style="display: none;">
    <span>
        <i class="iconfont">叉号</i>
    </span>
    超过最大限制
</div>
<div class="popUps wrong" style="display: none;">
    <span>
        <i class="iconfont">叉号</i>
    </span>
    当前是最后一页
</div>
<div class="popUps wrong" style="display: none;">
    <span>
        <i class="iconfont">叉号</i>
    </span>
    当前是第一页
</div>
<div class="addNewIndicatorTop">
    <div class="topText">添加学分指标</div>
</div>
<div class="addNewIndicatorContent">
    <div class="addNewIndicatorContentItem">
        学分构成:
        <!-- 遍历出来学分构成 -->
        <select id="CreditsComposition"></select>
    </div>
    <div class="addNewIndicatorContentItem">
        请选择学分构成的子级目录:
        <select id="childDir"></select>
    </div>
    <div class="addNewIndicatorContentItem noDirectory">
        <div class="CertificationItem">
            认证范围:<input type="text" placeholder="请输入认证范围" class='b_Indicator_name' autocomplete="off" />
            学分:<input type="text" placeholder="请输入学分大小" class="b_points_available" autocomplete="off" />
            <button class="addScopeCertification" onclick="addNewIndicator(this)">添加</button>
            <div class="remarksText">备注:
                <div class="remarksBottom">
                    <textarea class="b_remark"></textarea>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="addNewIndicatorContentBottom">
    <button id="sureAdd">确定</button>
    <button id="sureCancel">取消</button>
</div>

 <!-- <div class="choiceHaveChild">
        学分构成是否有子级目录:
        <div class="choice">
            <span>
                <span style="display: none;" class="ChoiceSty"></span>
            </span>
            是
        </div>
        <div class="choice">
            <span>
                <span class="ChoiceSty"></span>
            </span>
            否
        </div>
    </div> -->

{{/block}}


{{block 'bottom'}}
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="/public/js/addNewIndicator.js"></script>
{{/block}}