{{extend './layout.html'}}
{{block 'title'}}用户管理{{/block}}
{{block 'head'}}
<link rel="stylesheet" href="/public/css/LiUniversal.css">
<link rel="stylesheet" href="/public/css/adminManageUsers.css">
{{/block}}
{{block 'bodytop'}}

<div class="bodyTop" style="display: none;">
    <div>
        <div class="bodyTopItem">
            用户姓名:
            <input type="text" id="changeUserName" autocomplete="off">
        </div>
        <div class="bodyTopItem">
            登录账号:
            <input type="text" id="changeUserAccount" autocomplete="off">
        </div>
        <div class="bodyTopItem">
            用户身份:
            <select id="changeUserPermission">
                <option value="普通用户">普通用户</option>
                <option value="普通管理员">普通管理员</option>
                <option value="超级管理员">超级管理员</option>
            </select>
        </div>
        <div class="bodyTopItem">
            用户性别:
            <select id="changeUserSex">
                <option value="男">男</option>
                <option value="女">女</option>
            </select>
        </div>
        <div class="bodyTopItem">
            学生信息:
            <select id="changeUserHas">
                <option value="无">无</option>
                <option value="有">有</option>
            </select>
        </div>
        <div class="bodyTopClu">
            <div class="bodyTopItem">
                所在年级:
                <!-- <input type="text" id="changeUserGrade" placeholder="年级,例如:2018"> -->
                <select id="changeUserGrade">
                    <option value="">请选择...</option>
                </select>
            </div>
            <div class="bodyTopItem">
                <!-- <input type="text" id="changeUseraCademy" placeholder="学院,例如:信息工程学院" autocomplete="off"> -->
                所在学院:
                <select id="changeUseraCademy">
                    <option value="">请选择...</option>
                </select>
                <div class="hintText" style="display: none;">请选择所在学院</div>
            </div>
            <div class="bodyTopItem">
                所在班级:
                <input type="text" placeholder="班级,例如:计科214" id="changeUserClass" autocomplete="off">
            </div>
        </div>
        <div class="bodyTopBottom">
            <button id="changeUserInfo">修改</button>
            <button id="cancel">取消</button>
            <div id="changeUserId" style="display: none;"></div>
        </div>
    </div>
</div>

{{/block}}

{{block 'body'}}
<div class="popUps" style="display: none;">
    <span>
        <i class="iconfont">对号</i>
    </span>
    查询成功
</div>
<div class="popUps wrong" style="display: none;">
    <span>
        <i class="iconfont">叉号</i>
    </span>
    网络错误
</div>
<div class="popUps wrong" style="display: none;">
    <span>
        <i class="iconfont">叉号</i>
    </span>
    请选择查询内容
</div>
<div class="popUps wrong" style="display: none;">
    <span>
        <i class="iconfont">叉号</i>
    </span>
    请选择删除内容
</div>
<div class="popUps" style="display: none;">
    <span>
        <i class="iconfont">对号</i>
    </span>
    删除成功
</div>
<div class="popUps wrong" style="display: none;">
    <span>
        <i class="iconfont">叉号</i>
    </span>
    请输入合法数字
</div>
<div class="popUps wrong" style="display: none;">
    <span>
        <i class="iconfont">叉号</i>
    </span>
    超过最大限制
</div>
<div class="popUps wrong" style="display: none;">
    <span>
        <i class="iconfont">叉号</i>
    </span>
    当前是最后一页
</div>
<div class="popUps wrong" style="display: none;">
    <span>
        <i class="iconfont">叉号</i>
    </span>
    当前是第一页
</div>
<div class="adminManageUsersTop">
    <span class="topText">管理用户</span>
    <div class="selectUser">
        <div class="">
            用户身份:<select id="useriDentity" class="searchValue">
                <option value="">请选择...</option>
                <option value="普通用户">普通用户</option>
                <option value="普通管理员">普通管理员</option>
                <!-- 是否管理超级管理员?暂不操作 -->
            </select>
        </div>
        <div class="">
            用户性别:<select id="sex" class="searchValue">
                <option value="">请选择...</option>
                <option value="男">男</option>
                <option value="女">女</option>
            </select>
        </div>
        <div class="">
            年级:
            <select id="USGrade" class="searchValue">
                <option value="">请选择...</option>
            </select>
        </div>
        <div class="">
            院系:
            <select id="Faculty" class="searchValue">
                <option value="">请选择...</option>
            </select>
            <!-- <input type="text" class="searchValue" id="Faculty" autocomplete="off" placeholder="院系,例如:信息工程学院"> -->
        </div>
        <div class="">
            专业:
            <select id="specialized" class="searchValueNo">
                <option value="">请选择...</option>
            </select>
        </div>
        <div class="">
            班级:
            <select id="major_class" class="searchValue">
                <option value="">请选择...</option>
            </select>
            <!-- <input type="text" id="major_class" class="searchValue" placeholder="班级,例如:计科214" autocomplete="off"> -->
        </div>
        <div class="" style="display: none;">
            姓名:
            <input type="text" placeholder="请输入姓名" id="name" class="searchValue" autocomplete="off">
        </div>
        <div class="">
            姓名:
            <input type="text" placeholder="请输入姓名" id="account" class="searchValue" autocomplete="off">
        </div>
        <div class="">
            <button id="sureSearch">查询</button>
            <button id="reset">重置</button>
        </div>
    </div>
    <div class=""></div>
</div>
<div class="adminManageUsersContent">
    <div class="totalNumber clearFloat">
        <button id="del">删除</button>
        <span class="floatRight" id="allNumber">共1条</span>
    </div>
    <div class="adminManageUsersContentTop adminHistoryContentItem">
        <ul>
            <li>
                <input type="checkbox" id="checkDelAll">
            </li>
            <li>姓名</li>
            <li>学号</li>
            <li>用户权限</li>
            <li>年级</li>
            <li>所在班级</li>
            <li>详情</li>
            <li>操作框</li>
        </ul>
    </div>
    <div class="adminManageUsersContentContent adminHistoryContentItem">
        <ul>
            <li>
                <input type="checkbox" class="checkDel" onclick="checkDelFn()">
            </li>
            <li>郑世杰</li>
            <li>20180514109</li>
            <li>普通管理员</li>
            <li>2018</li>
            <li>植保181</li>
            <li>
                <button class="operatorBtnSty">查看</button>
            </li>
            <li>
                <button onclick="removePopup()" class="operatorBtnSty">删除</button>
            </li>
        </ul>
    </div>
</div>
<div id="adminHistoryContentNo" style="display: none;">
    对不起没有该内容
</div>
<div class="adminHistoryContentBottom clearFloat">
    每页<select name="" id="selectPerpage">
        <option value="10">10条</option>
        <option value="15">15条</option>
        <option value="20">20条</option>
        <option value="25">25条</option>
    </select>
    <span id="allPages">共1页</span>
    <button id="lastPage">上一页</button>
    <span id="nowPage">1</span>
    跳转到:<input type="text" id="jumpPage" autocomplete="off"> 页
    <button id="jump">跳转</button>
    <button id="nextPage">下一页</button>
</div>
{{/block}}
{{block 'bottom'}}
<script src="https://cdn.bootcdn.net/ajax/libs/jquery/3.6.0/jquery.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="/public/js/adminManageUsers.js"></script>
{{/block}}