<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>导出excel表</title>
    <link rel="stylesheet" href="/public/css/LiUniversal.css">
    <link rel="stylesheet" href="/public/css/adminExportForm.css">
</head>

<body>
    <div class="clearFloat">
        <button class="floatRight" id="download">下载</button>
    </div>
    <!-- 限制条件 -->
    <div class="adminExportFormTop adminExportFormItem">
        <ul>
            <li style="width: 30px;">序号</li>
            <li class="dieWidthTwo">姓名</li>
            <li class="dieWidth">学号</li>
            <li class="dieWidthTwo">年级</li>
            <li class="dieWidth">所在学院</li>
            <li class="dieWidthTwo">所在班级</li>
            <!-- 存放学分类型的盒子 -->
            <div class="adminExportFormCredit">
                <li class="dieWidth">科技创新学分</li>
                <li class="dieWidth">学科竞赛学分</li>
                <li class="dieWidth">创业实践学分</li>
                <li class="dieWidth">社会实践学分</li>
                <li class="dieWidth">职业技能学分</li>
            </div>
            <li class="dieWidth">申请学分合计</li>
            <li class="dieWidth">所在学院审核结果</li>
            <li class="dieWidth">教务处认定结果</li>
            <li class="dieWidthTwo">备注</li>
        </ul>
    </div>
    <div class="adminExportFormBottom adminExportFormItem">
        <ul>
            <li style="width: 30px;">1</li>
            <li class="dieWidthTwo">郑世杰</li>
            <li class="dieWidth">20180514109</li>
            <li class="dieWidthTwo">2018</li>
            <li class="dieWidthTwo">植物保护</li>
            <li class="dieWidthTwo">植保181</li>
            <!-- 存放学分类型的盒子 -->
            <div class="adminExportFormCredit">
                <li class="dieWidth"></li>
                <li class="dieWidth">4.5</li>
                <li class="dieWidth"></li>
                <li class="dieWidth"></li>
                <li class="dieWidth"></li>
            </div>
            <li class="dieWidth">5.0</li>
            <li class="dieWidth">5.0</li>
            <li class="dieWidth"></li>
            <li class="dieWidthTwo"></li>
        </ul>
    </div>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="/public/js/adminExportForm.js"></script>
</body>

</html>