{{extend './layout.html'}}
{{block 'title'}}学分构成管理{{/block}}

{{block 'head'}}
<link rel="stylesheet" href="/public/css/LiUniversal.css">
<link rel="stylesheet" href="/public/css/adminCreditManagement.css">
{{/block}}

{{block 'body'}}
<div class="popUps" style="display: none;">
    <span>
        <i class="iconfont">对号</i>
    </span>
    查询成功
</div>
<div class="popUps wrong" style="display: none;">
    <span>
        <i class="iconfont">叉号</i>
    </span>
    网络错误
</div>
<div class="popUps wrong" style="display: none;">
    <span>
        <i class="iconfont">叉号</i>
    </span>
    请选择查询内容
</div>
<div class="popUps wrong" style="display: none;">
    <span>
        <i class="iconfont">叉号</i>
    </span>
    请选择删除内容
</div>
<div class="popUps" style="display: none;">
    <span>
        <i class="iconfont">对号</i>
    </span>
    删除成功
</div>
<div class="popUps wrong" style="display: none;">
    <span>
        <i class="iconfont">叉号</i>
    </span>
    请输入合法数字
</div>
<div class="popUps wrong" style="display: none;">
    <span>
        <i class="iconfont">叉号</i>
    </span>
    超过最大限制
</div>
<div class="popUps wrong" style="display: none;">
    <span>
        <i class="iconfont">叉号</i>
    </span>
    当前是最后一页
</div>
<div class="popUps wrong" style="display: none;">
    <span>
        <i class="iconfont">叉号</i>
    </span>
    当前是第一页
</div>
<div class="adminCreditManagementTop">
    <div class="topText">
        学分构成管理
    </div>
    <div class="selectCondition clearFloat">
        <div class="selectConditionItem">
            学分大小:<select>
                <option value="">请选择...</option>
            </select>
        </div>
        <div class="selectConditionItem">
            学分构成:<select>
                <option value="">请选择...</option>
            </select>
        </div>
        <div class="selectConditionItem">
            认定范围<select>
                <option value="">请选择...</option>
            </select>
        </div>
        <div class="selectConditionItem">
            <button id="sureSearch">查询</button>
            <button id="resetSearch">重置</button>
            <button id="add">新增</button>
        </div>
    </div>
</div>
<div class="adminCreditManagementContent">
    <div class="operation">
        <button id="del" onclick="delFnAll()">删除</button>
    </div>
    <div class="adminCreditManagementContentTop adminCreditManagementContentItem">
        <ul>
            <li>
                <span>学分构成</span>
            </li>
            <li>排序</li>
            <li>备注</li>
            <li>操作框</li>
        </ul>
    </div>
    <div id="item">
        <div class="adminCreditManagementContentContent adminCreditManagementContentItem">
            <ul>
                <li class="constituteSty">
                    <span class="expandItem" onclick='watchChild(this)'>
                        <span class="remove"></span>
                        <span onclick="" class=""></span>
                    </span>
                    <span>学科竞赛</span>
                </li>
                <li>1</li>
                <li>
                    <button>查看</button>
                </li>
                <li>
                    <button>编辑</button>
                    <button>新增</button>
                    <button onclick="delFnOne(this)">删除</button>
                </li>
            </ul>
            <!-- 儿子 -->
            <div class="ChildDetails" style="display: none;">
                <div class="ChildDetailsTop ChildDetailsItem">
                    <ul>
                        <li>
                            <input type="checkbox" class="childDelAll commonDel" onclick="allChildInputFather(this)">
                        </li>
                        <li>认定范围</li>
                        <li>学分</li>
                        <li>操作框</li>
                    </ul>
                </div>
                <div class="ChildDetailsContent ChildDetailsItem">
                    <div class="SecondDir clearFloat">
                        <span>子级目录:</span>
                        <button class="floatRight">删除此子级目录</button>
                    </div>
                    <ul>
                        <li>
                            <input type="checkbox" class="childDel commonDel" onclick="judgeChild(this)">
                        </li>
                        <li>国际竞赛一等奖(最高奖)</li>
                        <li>6.0</li>
                        <li>
                            <button onclick="delFnOne(this)">删除</button>
                            <button>修改</button>
                            <button>新增</button>
                        </li>
                    </ul>
                    <ul>
                        <li>
                            <input type="checkbox" class="childDel commonDel" onclick="judgeChild(this)">
                        </li>
                        <li>获全国计算机二级及以上等级证书；非外语专业学生通过英语六级考试；外语专业学生通过专业八级</li>
                        <li>6.0</li>
                        <li>
                            <button onclick="delFnOne(this)">删除</button>
                            <button>修改</button>
                            <button>新增</button>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="adminCredManagementBottom clearFloat">
    每页<select name="" id="selectPerpage">
        <option value="10">10条</option>
        <option value="15">15条</option>
        <option value="20">20条</option>
        <option value="25">25条</option>
    </select>
    <span id="allPages">共1页</span>
    <button id="lastPage">上一页</button>
    <span id="nowPage">1</span>
    跳转到:<input type="text" id="jumpPage"> 页
    <button id="jump">跳转</button>
    <button id="nextPage">下一页</button>
</div>
</div>
<div id="adminHistoryContentNo" style="display: none;">
    对不起没有该内容
</div>
{{/block}}
{{block 'bottom'}}
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="/public/js/adminCreditManagement.js"></script>
{{/block}}