{{extend './layout.html'}}
{{block 'titile'}}用户管理{{/block}}
{{block 'head'}}
<link rel="stylesheet" href="public/css/adminUsers.css">

{{/block}}
{{block 'body'}}
<div class="search-top">
    <div class="search-title">
        年级：
        <select class="search-type">
            <option value="">所有</option>
            <option value="2018">2018</option>
            <option value="2019">2019</option>
            <option value="2020">2020</option>
            <option value="2021">2021</option>
        </select>
    </div>
    <div class="search-title">
        学院：
        <select class="search-type">
            <option value="">所有</option>
            <option value="信息工程学院">信息工程学院</option>
            <option value="植物保护学院">植物保护学院</option>
            <option value="机电学院">机电学院</option>
            <option value="苏梅国际学院">苏梅国际学院</option>
        </select>
    </div>
    <div class="search-title">
        班级：
        <select class="search-type">
            <option value="">所有</option>
            <option value="计科214">计科214</option>
            <option value="信工212">信工212</option>
            <option value="植保191">植保191</option>
            <option value="植保181">植保181</option>
        </select>
    </div>
    <div class="search-title">
        <a class="btn btn-primay">
            <i class="font-search">

            </i>
            搜索
        </a>
        <a class="btn btn-warning">
            <i class="font-search">

            </i>
            重置
        </a>
    </div>
</div>
<div class="content">
    <div class="table">
        <div class="table-toolar">
            <div class="pull-left">
                <a class="btns btn-new">
                    <i class="fa">

                    </i>
                    新增
                </a>
                <a class="btns btn-update">
                    <i class="fa">

                    </i>
                    修改
                </a>
                <a class="btns btn-del">
                    <i class="fa">

                    </i>
                    删除
                </a>
            </div>
        </div>
        <div class="container">
            <ul class="header back-color">
                <li class="checkbox-bs lis">
                    <div class="inner">
                        <input type="checkbox" class="checkbox-all" >
                    </div>
                </li>
                <li class="student-name lis">姓名</li>
                <li class="student-numbers lis">学号</li>
                <li class="student-grade lis">年级</li>
                <li class="student-class lis">所在班级</li>
                <li class="student-major lis">学院</li>
                <li class="student-credit lis">性别</li>
<!--                <li class="student-applyNumbers lis">申请次数</li>-->
                <li class="student-operator lis">操作</li>
            </ul>
            <div class="main-content">

            </div>
<!--            <script type="text/html" id="main-cont">-->
<!--                {{each all}}-->
<!--                    <ul class="header">-->
<!--                        <li class="checkbox lis">-->
<!--                            <div class="inner">-->
<!--                                <input type="checkbox" class="checkbox-list" >-->
<!--                            </div>-->
<!--                        </li>-->
<!--                        <li class="student-name lis">{{all.name}}</li>-->
<!--                        <li class="student-major lis">{{}}</li>-->
<!--                        <li class="student-class lis">{{}}</li>-->
<!--                        <li class="student-apply lis">{{}}</li>-->
<!--                        <li class="student-time lis">{{}}</li>-->
<!--                        <li class="student-state lis">{{}}</li>-->
<!--                        <li class="student-apply-credit lis">{{}}</li>-->
<!--                        <li class="student-operator operator-check">-->
<!--                            <span class="opertor-list check-out">查看</span>-->
<!--                            <span class="opertor-list check">编辑</span>-->
<!--                            <span class="opertor-list reset">重置</span>-->
<!--                            <span class="opertor-list deletes">删除</span>-->
<!--                        </li>-->
<!--                    </ul>-->
<!--                {{/each}}-->
<!--            </script>-->
        </div>
    </div>
    <div id="page">

    </div>

</div>

{{/block}}
{{block 'bodytop'}}
<div class="cover-layer">
    <div class="cover-main">
        <div class="layer-form-item">
            <label class="layer-form-label">姓名</label>
            <div class="layer-input-block">
                <input type="text" placeholder="请输入名字" autocomplete="off" class="layer-input">
            </div>
        </div>
        <div class="layer-form-item">
            <label class="layer-form-label">学号</label>
            <div class="layer-input-block">
                <input type="text" placeholder="请输入学号" autocomplete="off" class="layer-input">
                <div class="warn"></div>
            </div>

        </div>
        <div class="layer-form-item">
            <label class="layer-form-label">入学时间</label>
            <div class="layer-input-block">
                <div class="layer-unselect layer-form-select ">
                    <div class="layer-select-title">
                        <input type="text" name=""  placeholder="请选择" class="layer-input layer-click" readonly>
                        <i class="layer-edge"></i>
                    </div>
                    <dl class="layer-list">
                        <dd class="layer-select-tips layer-this startTimes" >请选择</dd>
                        <dd class="layer-select-tips startTimes" value="2018">2018</dd>
                        <dd class="layer-select-tips startTimes" value="2019">2019</dd>
                        <dd class="layer-select-tips startTimes" value="2020">2020</dd>
                        <dd class="layer-select-tips startTimes" value="2021">2021</dd>
                    </dl>
                </div>
            </div>
        </div>
        <div class="layer-form-item">
            <label class="layer-form-label">学院</label>
            <div class="layer-input-block">
                <div class="layer-unselect layer-form-select ">
                    <div class="layer-select-title">
                        <input type="text" name=""  placeholder="请选择" class="layer-input layer-click" readonly>
                        <i class="layer-edge"></i>
                    </div>
                    <dl class="layer-list">
                        <dd class="layer-select-tips layer-this academy" >请选择</dd>
                        <dd class="layer-select-tips academy" >信息工程学院</dd>
                        <dd class="layer-select-tips academy" >生命科技学院</dd>
                        <dd class="layer-select-tips academy" >经济与管理学院</dd>
                        <dd class="layer-select-tips academy" >机电学院</dd>
                    </dl>
                </div>
            </div>
        </div>
        <div class="changes">
            <div class="layer-form-item">
                <label class="layer-form-label">专业</label>
                <div class="layer-input-block">
                    <div class="layer-unselect layer-form-select ">
                        <div class="layer-select-title">
                            <input type="text" name=""  placeholder="请选择" class="layer-input layer-click" readonly>
                            <i class="layer-edge"></i>
                        </div>
                        <dl class="layer-list">
                            <dd class="layer-select-tips layer-this major" >请选择</dd>
                            <dd class="layer-select-tips major" >信工212</dd>
                            <dd class="layer-select-tips major" >计科214</dd>
                            <dd class="layer-select-tips major" >通信212</dd>
                            <dd class="layer-select-tips major" >物联212</dd>
                        </dl>
                    </div>
                </div>
            </div>
            <div class="layer-form-item">
                <label class="layer-form-label">班级</label>
                <div class="layer-input-block">
                    <div class="layer-unselect layer-form-select ">
                        <div class="layer-select-title">
                            <input type="text" name=""  placeholder="请选择" class="layer-input layer-click" readonly>
                            <i class="layer-edge"></i>
                        </div>
                        <dl class="layer-list">
                            <dd class="layer-select-tips layer-this grade" >请选择</dd>
                            <dd class="layer-select-tips grade" >信工212</dd>
                            <dd class="layer-select-tips grade" >计科214</dd>
                            <dd class="layer-select-tips grade" >通信212</dd>
                            <dd class="layer-select-tips grade" >物联212</dd>
                        </dl>
                    </div>
                </div>
            </div>
        </div>
        <div class="layer-form-item">
            <label class="layer-form-label">性别</label>
            <div class="layer-input-block">
                <input type="radio" name="sex" value="男" title="男" class="radios">
                <div class="layer-form-radio">
                    <i class="layer-anim layer-icon"><span class="layer-inner"></span></i>
                    <div >男</div>
                </div>
                <input type="radio" name="sex" value="女" title="女" class="radios" checked>
                <div class="layer-form-radio layer-form-radioed">
                    <i class="layer-anim layer-icon"><span class="layer-inner"></span></i>
                    <div >女</div>
                </div>
            </div>
        </div>
        <div class="layer-form-item">
            <div class="layer-input-block">
                <button class="layer-btn layer-submit" >立即提交</button>
                <button type="reset" class="layer-btn layer-btn-primary">重置</button>
                <button type="reset" class="layer-btn layer-btn-primary">关闭</button>
            </div>
        </div>
    </div>
</div>
<div class="cover-layer">
    <div class="cover-main">
        <div class="layer-form-item">
            <label class="layer-form-label">姓名</label>
            <div class="layer-input-block">
                <input type="text" placeholder="请输入名字" autocomplete="off" class="layer-input layer-check" readonly>
            </div>
        </div>
        <div class="layer-form-item">
            <label class="layer-form-label">学号</label>
            <div class="layer-input-block">
                <input type="text" placeholder="请输入学号" autocomplete="off" class="layer-input layer-check" readonly>
                <div class="warn"></div>
            </div>

        </div>
        <div class="layer-form-item">
            <label class="layer-form-label">入学时间</label>
            <div class="layer-input-block">
                <div class="layer-unselect layer-form-select ">
                    <div class="layer-select-title">
                        <input type="text" name=""  placeholder="请选择" class="layer-input layer-check" readonly>
<!--                        <i class="layer-edge"></i>-->
                    </div>
<!--                    <dl class="layer-list">-->
<!--                        <dd class="layer-select-tips layer-this startTimes" >请选择</dd>-->
<!--                        <dd class="layer-select-tips startTimes" value="2018">2018</dd>-->
<!--                        <dd class="layer-select-tips startTimes" value="2019">2019</dd>-->
<!--                        <dd class="layer-select-tips startTimes" value="2020">2020</dd>-->
<!--                        <dd class="layer-select-tips startTimes" value="2021">2021</dd>-->
<!--                    </dl>-->
                </div>
            </div>
        </div>
        <div class="layer-form-item">
            <label class="layer-form-label">学院</label>
            <div class="layer-input-block">
                <div class="layer-unselect layer-form-select ">
                    <div class="layer-select-title">
                        <input type="text" name=""  placeholder="请选择" class="layer-input layer-check" readonly>
<!--                        <i class="layer-edge"></i>-->
                    </div>
<!--                    <dl class="layer-list">-->
<!--                        <dd class="layer-select-tips layer-this academy" >请选择</dd>-->
<!--                        <dd class="layer-select-tips academy" >信息工程学院</dd>-->
<!--                        <dd class="layer-select-tips academy" >生命科技学院</dd>-->
<!--                        <dd class="layer-select-tips academy" >经济与管理学院</dd>-->
<!--                        <dd class="layer-select-tips academy" >机电学院</dd>-->
<!--                    </dl>-->
                </div>
            </div>
        </div>
        <div class="layer-form-item">
            <label class="layer-form-label">班级</label>
            <div class="layer-input-block">
                <div class="layer-unselect layer-form-select ">
                    <div class="layer-select-title">
                        <input type="text" name=""  placeholder="请选择" class="layer-input layer-check" readonly>
<!--                        <i class="layer-edge"></i>-->
                    </div>
<!--                    <dl class="layer-list">-->
<!--                        <dd class="layer-select-tips layer-this grade" >请选择</dd>-->
<!--                        <dd class="layer-select-tips grade" >信工212</dd>-->
<!--                        <dd class="layer-select-tips grade" >计科214</dd>-->
<!--                        <dd class="layer-select-tips grade" >通信212</dd>-->
<!--                        <dd class="layer-select-tips grade" >物联212</dd>-->
<!--                    </dl>-->
                </div>
            </div>
        </div>
        <div class="layer-form-item">
            <label class="layer-form-label">性别</label>
            <div class="layer-input-block">
                <input type="radio" name="sex" value="男" title="男" class="layer-radio">
                <div class="layer-form-radio">
                    <i class="layer-anim layer-icon"><span class="layer-inner"></span></i>
                    <div >男</div>
                </div>
                <input type="radio" name="sex" value="女" title="女" class="layer-radio" checked>
                <div class="layer-form-radio layer-form-radioed">
                    <i class="layer-anim layer-icon"><span class="layer-inner"></span></i>
                    <div >女</div>
                </div>
            </div>
        </div>
        <div class="layer-form-item">
            <div class="layer-input-block">
<!--                <button class="layer-btn layer-submit" >立即提交</button>-->
<!--                <button type="reset" class="layer-btn layer-btn-primary">重置</button>-->
                <button type="reset" class="layer-btn layer-primary">关闭</button>
            </div>
        </div>
    </div>
</div>
{{/block}}
{{block 'bottom'}}
<script src="public/layui/layui.js"></script>
<script src="public/js/adminUsers.js"></script>
<script src="public/lib/template-web.js"></script>
{{/block}}