{{extend './layout.html'}}
{{block 'title'}}学分构成管理{{/block}}
{{block 'head'}}
<link rel="stylesheet" href="/public/css/LiUniversal.css">
<link rel="stylesheet" href="/public/css/adminCreditManagement.css">
{{/block}}
{{block 'bodytop'}}
<div class="bodyTop" style="display: none;">
    <div class="">
        <div class="bodyTopItem">
            学分构成:
            <input type="text" placeholder="请输入学分构成" id="enterComposition" class="clearValue" autocomplete="off">
            <div class="hintText" style="display: none;">请输入学分构成</div>
        </div>
        <div class="bodyTopItem">
            是否输入子级目录
            <select id="selectHasChild">
                <option value="2">否</option>
                <option value="1">是</option>
            </select>
        </div>
        <div class="bodyTopItem">
            <div class="dirItem" style="display: none;">
                <div class="dirItemI">
                    请输入子级目录:
                    <input type="text" placeholder="请输入子级目录" class="clearValue subValue" autocomplete="off">
                    <button class="addChildDri" onclick="addCertification(this)">添加</button>
                </div>
            </div>
        </div>
        <div class="bodyTopBottom">
            <button id="sureAdd">确定</button>
            <button id="cancelAdd">取消</button>
        </div>
    </div>
</div>
<div class="bodyTop" style="display: none;">
    <div class="changeSty" style="min-height: 100px;">
        <div class="bodyTopItem">
            父级目录
            <select id="changeTwoDirFather"></select>
        </div>
        <div class="bodyTopItem">
            <div id="changeTwoDirId" style="display: none;"></div>
            子级目录:
            <input type="text" placeholder="请输入二级目录名" id="changeTwoDir" autocomplete="off" />
            <div class="hintText" style="display: none;">请输入学分构成</div>
        </div>
        <div class="bodyTopBottom">
            <div class="bodyTopBottom">
                <button id="sureChange">确定</button>
                <button id="cancelChange">取消</button>
            </div>
        </div>
    </div>
</div>
<div class="bodyTop" style="display: none;">
    <div class="" style="min-height: 100px;">
        <div class="bodyTopItem">
            请输入新的学分构成:
        </div>
        <div class="bodyTopItem">
            <div id="CompositionId" style="display: none;"></div>
            学分构成:
            <input type="text" placeholder="请输入学分构成" id="CompositionName" autocomplete="off">
            <div class="hintText" style="display: none;">请输入学分构成</div>
        </div>
        <div class="bodyTopBottom">
            <button id="SurechangeComposition">修改</button>
            <button id="CancelchangeComposition">取消</button>
        </div>
    </div>
</div>
<div class="bodyTop" style="display: none;">
    <div class="" style="min-height: 150px;">
        <div class="bodyTopItem">
            学分构成:
            <span id="AddDirFatherName">专业技能学分</span>
            <span id="AddDirFatherId" style="display: none;"></span>
        </div>
        <div class="bodyTopItem" id="addCreditDefaulFather">
            <div class="dirItem">
                <div class="dirItemI" id="addCreditDefaul">
                    请输入子级目录:
                    <input type="text" placeholder="请输入子级目录" class="clearValue subValue AddDirValue" autocomplete="off">
                    <button class="addChildDri" onclick="addCertification(this)">添加</button>
                </div>
            </div>
        </div>
        <div class="bodyTopBottom">
            <button id="SureaddDir">添加</button>
            <button id="CancelAddDir">取消</button>
        </div>
    </div>
</div>
<div class="bodyTop" style="display: none;">
    <div id="revise">
        <div class="bodyTopItem">
            学分构成:
            <select id="reviseCreComposition"></select>
        </div>
        <div class="bodyTopItem">
            子级目录
            <select id="reviseChildDir"></select>
        </div>
        <div class="bodyTopItem">
            认定范围:
            <input type="text" id="reviseRecognize" onclick="clearFn(this)" autocomplete="off">
            <div class="hintText" style="display: none;">请输入认证范围</div>
        </div>
        <div class="bodyTopItem">
            学分大小:
            <input type="text" id="reviseCreditNumber" onclick="clearFn(this)" autocomplete="off">
            <div class="hintText" style="display: none;">请输入正确的数字</div>
        </div>
        <div class="bodyTopItem">
            算分规则:<select class="creditRules" onchange="changeRules(this)">
                <option value="">请选择</option>
                <option value="0">不是团队项目</option>
                <option value="1">规则1</option>
                <option value="2">规则2</option>
                <option value="3">规则3</option>
                <option value="4">规则4</option>
                <option value="5">规则5</option>
                <option value="6">规则6</option>
            </select>
        </div>
        <div class="bodyTopItem">
            备注:
            <div class="">
                <textarea name="" id="reviseText" cols="30" rows="10" readonly></textarea>
            </div>
        </div>
        <div class="bodyTopBottom operator">
            <button id="sureRevise">修改</button>
            <button id="cancelRevise">取消</button>
            <div id="selfId" style="display: none;"></div>
        </div>
    </div>
</div>
{{/block}}
{{block 'body'}}
<div class="adminCreditManagementTop">
    <div class="topText">
        学分构成管理
    </div>
    <div class="selectCondition clearFloat">
        <div class="selectConditionItem">
            最小学分:
            <input type="text" id="CreditNumberMin" placeholder="学分范围最小学分" autocomplete="off">
        </div>
        <div class="selectConditionItem">
            最大学分:
            <input type="text" id="CreditNumberMax" placeholder="学分范围最大学分" autocomplete="off">
        </div>
        <div class="selectConditionItem">
            学分构成:
            <input type="text" placeholder="请输入要搜索的认定范围" id="searchIterator" autocomplete="off">
        </div>
        <div class="selectConditionItem">
            <button id="sureSearch">查询</button>
            <button id="resetSearch">重置</button>
            <button id="add">新增学分构成</button>
            <button id="allSum">汇总表</button>
        </div>
    </div>
</div>
<div class="adminCreditManagementContent">
    <div class="operation">
        <button id="del" onclick="delFnAll()">删除</button>
        <button id="jumpUrl">添加指标</button>
    </div>
    <div class="Table"></div>
</div>
<div class="Indicator clearFloat" style="display: none;">
    <div class="operation">
        <button id="del" onclick="delFnAll()">删除</button>
    </div>
    <div style="text-align: right;" id="IndicatorSum">共1条</div>
    <div class="IndicatorTop clearFloat IndicatorItem">
        <ul>
            <li>
                <input type="checkbox" class="IndicatorCheckBoxFather" onclick="IndicatorCheckBoxFatherFn(this)"
                    autocomplete="off">
            </li>
            <li>认定范围</li>
            <li>学分</li>
            <li>操作框</li>
        </ul>
    </div>
    <div class="IndicatorCnotent IndicatorItem">
    </div>
</div>
{{/block}}
{{block 'bottom'}}
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="/public/js/creditSumRule.js"></script>
<script src="/public/js/adminCreditManagementTwo.js"></script>
<script src="/public/js/adminCreditManagement.js"></script>
{{/block}}