{{extend './layout.html'}}
{{block 'title'}}查看申请表{{/block}}
{{block 'head'}}
<link rel="stylesheet" href="//unpkg.com/layui@2.6.8/dist/css/layui.css">
<link rel="stylesheet" href="/public/css/LiUniversal.css">
<link rel="stylesheet" href="/public/css/adminWatchApplication.css">
{{/block}}
{{block 'body'}}
<div class="popUps" style="display: none;">
    <span>
        <i class="iconfont">对号</i>
    </span>
    查询成功
</div>
<div class="popUps wrong" style="display: none;">
    <span>
        <i class="iconfont">叉号</i>
    </span>
    网络错误
</div>
<div class="popUps wrong" style="display: none;">
    <span>
        <i class="iconfont">叉号</i>
    </span>
    请选择查询内容
</div>
<div class="popUps wrong" style="display: none;">
    <span>
        <i class="iconfont">叉号</i>
    </span>
    请选择删除内容
</div>
<div class="popUps" style="display: none;">
    <span>
        <i class="iconfont">对号</i>
    </span>
    删除成功
</div>
<div class="popUps wrong" style="display: none;">
    <span>
        <i class="iconfont">叉号</i>
    </span>
    请输入合法数字
</div>
<div class="popUps wrong" style="display: none;">
    <span>
        <i class="iconfont">叉号</i>
    </span>
    超过最大限制
</div>
<div class="popUps wrong" style="display: none;">
    <span>
        <i class="iconfont">叉号</i>
    </span>
    当前是最后一页
</div>
<div class="popUps wrong" style="display: none;">
    <span>
        <i class="iconfont">叉号</i>
    </span>
    当前是第一页
</div>
<div class="WatchApplicationTop">
    <div class="topText">
        查看申请表
    </div>
    <div class="selectCondition">
        <div class="selectConditionItem">
            学分构成:<select id="CreditsComposition">
                <option value="">请选择...</option>
            </select>
        </div>
        <div class="selectConditionItem">
            二级目录:<select id="CreditsSecondDir">
                <option value="">请选择...</option>
            </select>
        </div>
        <div class="selectConditionItem">
            认定范围:<select id="ScopeRecognition">
                <option value="">请选择...</option>
            </select>
        </div>
        <div class="selectConditionItem">
            学分:
            <input type="text" id="credit" autocomplete="off" placeholder="请输入学分">
        </div>
        <div class="selectConditionItem">
            年级:
            <select id="usGrade">
                <option value="">请选择...</option>
            </select>
        </div>
        <div class="selectConditionItem">
            院系:
            <select id="academy">
                <option value="">请选择...</option>
            </select>
            <!-- <input type="text" id="academy" autocomplete="off"  placeholder="学院,例如:信息工程学院"> -->
        </div>
        <div class="selectConditionItem">
            专业:
            <select id="specialized">
                <option value="">请选择...</option>
            </select>
        </div>
        <div class="selectConditionItem">
            班级:
            <select id="usClass">
                <option value="">请选择...</option>
            </select>
            <!-- <input type="text" id="usClass" autocomplete="off" placeholder="班级,例如:计科214"> -->
        </div>
    </div>
    <div class="selectConditionItemChange clearFloat">
        <div class="selectConditionItem">
            <div class="layui-form-item">
                <div class="layui-inline">
                    <label class="layui-form-label">日期范围</label>
                    <div class="layui-inline" id="test-range">
                        <div class="layui-input-inline">
                            <input type="text" id="startDate" class="layui-input" placeholder="开始日期">
                        </div>
                        <div class="layui-form-mid">-</div>
                        <div class="layui-input-inline">
                            <input type="text" id="endDate" class="layui-input" placeholder="结束日期">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="operator floatRight">
            <button id="sureSearch">查询</button>
            <button id="exportForm">导出汇总表</button>
            <!-- <button id="importForm">导入管理员信息</button> -->
            <button id="reset">重置</button>
        </div>
    </div>
</div>
<div class="WatchApplicationContent">
    <div class="totalNumber clearFloat">
        <span class="floatRight" id="allNumber">共1条</span>
    </div>
    <div class="WatchApplicationContentTop WatchApplicationContentItem">
        <ul>
            <li>姓名</li>
            <li>学号</li>
            <li>性别</li>
            <li>年级</li>
            <li>所在学院</li>
            <li>所在班级</li>
            <li>申请类别</li>
            <li>申请学分</li>
            <li>详情</li>
        </ul>
    </div>
    <div class="WatchApplicationContentContent WatchApplicationContentItem">
        <ul>
            <li>郑世杰</li>
            <li>20180514109</li>
            <li>男</li>
            <li>2018</li>
            <li>信息工程学院</li>
            <li>植保181</li>
            <li>科技创新</li>
            <li>5</li>
            <li>
                <button class="watchDetails" onclick="">下载</button>
                <button class="watchDetails" onclick="">查看</button>
            </li>
        </ul>
    </div>
    <div class="WatchApplicationNo" style="display: none;">
        <div id="emptymeaage" style="padding-top: 50px;width: 100%;height: 200px;text-align: center;font-size: 16px;">
            <i class="fa fa-files-o" aria-hidden="true"
                style="padding-bottom: 10px;color: #68b0f3;font-size: 40px;"></i></br>
            什么都没有呢 . . .
        </div>

    </div>
    <div class="WatchApplicationBottom clearFloat">
        每页<select id="selectPerpage">
            <option value="10">10条</option>
            <option value="15">15条</option>
            <option value="20">20条</option>
            <option value="25">25条</option>
        </select>
        <button id="lastPage">上一页</button>
        <span id="nowPage">1</span>
        跳转到:<input type="text" id="jumpPage" autocomplete="off"> 页
        <button id="jump">跳转</button>
        <button id="nextPage">下一页</button>
    </div>
</div>

{{/block}}
{{block 'bottom'}}

<script src="/public/layui/layui.js"></script>
<script>
    layui.use('laydate', function () {
        var laydate = layui.laydate;
        //执行一个laydate实例
        laydate.render({
            elem: '#test-range' //开始时间和结束时间所在 input 框的父选择器
            //设置开始日期、日期日期的 input 选择器
            , range: ['#startDate', '#endDate'] //数组格式为 layui 2.6.6 开始新增
        });
    });
</script>

<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="/public/js/adminWatchApplication.js"></script>
{{/block}}