{{extend './layout.html'}}
{{block 'title'}}审核申请表{{/block}}
{{block 'head'}}
<link rel="stylesheet" href="public/css/examineApplication.css">
<link rel="stylesheet" href="public/layui/css/layui.css">
{{/block}}
{{block 'bodytop'}}
<div id="feedback">
    <div id="feedback_main">
      <h3>驳回反馈</h3>
      <span id="backid" style="display: none;"></span>
      <div id="xzzsdiv">
        <textarea name="con" id="weibo" cols="45" rows="6"></textarea>
        <span id="xzzs"><span id="word">0</span>/200</span>
      </div>
      <div>
        <button style=" background-color: #368ae2;" onclick="passfeedback()">发出驳回</button>
        <button onclick="Feedback_down()">取消驳回</button>
      </div>
    </div>
  </div>
{{/block}}
{{block 'body'}}
<fieldset class="layui-elem-field layui-field-title" style="margin-top: 10px;">
    <legend>审核申请表</legend>
</fieldset>
<div id="Application">
    <div class="Application_top">
        <span class="id">申请表状态：</span>
        <select name="approval_status" onchange="changepage(1,1)" lay-filter="aihao">
            <option value="0">未审核</option>
            <option value="1">审核通过</option>
            <option value="-1">审核驳回</option>
        </select>
        <!-- <button class="team_t_b" id="Application_delete"><i class="fa fa-minus-square-o"
                aria-hidden="true"></i>批量删除</button> -->
        <!-- <div>
            <input type="text" class="Application_find_input" placeholder=" 请输入您要寻找的用户名">
            <a href="javascript:;" class="Application_find_bon" onclick="teamfind()"><i class="fa fa-search" aria-hidden="true"></i>搜索</a>
        </div> -->
    </div>
    <div class="Application_main">
        <!-- <thead> -->
            <div class="tmt th">
                <span class="ms chanceinput" style="display: none;"><input type="checkbox" onchange="allover()" name="team_all"  value="all"></span>
                <span class="ms">姓名</span>
                <span class="ms">学号</span>
                <span class="ms">学院</span>
                <span class="ms">班级</span>
                <span class="ms">学分构成</span>
                <span class="ml">申请类别</span>
                <span class="ms">申请学分</span>
                <span class="ml">操作</span>
            </div>
        <!-- </thead> -->
        <div id="tbody">
            <!-- <tr>
                <td class="ms"><input type="checkbox"  name="team_a" value="a"></td>
                <td class="ms">姓名</td>
                <td class="ms">学号</td>
                <td class="ms">学院</td>
                <td class="ms">班级</td>
                <td class="ms">学分构成</td>
                <td class="ms">申请类别</td>
                <td class="ms">申请学分</td>
                <td class="ml">
                    <a class='mr' target="_blank" href='particulars' onclick='look(this)'>查看详情</a>
                    <a class='md' href='javascript:;' onclick='pass(this)'>通过</a>
                    <a class='md' href='javascript:;' onclick='refuse(this)'>驳回</a>
                </td>
            </tr> -->
        </div >
    </div>
    <div class="Application_b">
        <div id="Application_b_left">
            <span id="page_number">共0个用户</span>
            <select name="apagenumber" onchange="changepage(1,1)" lay-filter="aihao">
                <option value="10">10条/页</option>
                <option value="5">5条/页</option>
                <option value="15">15条/页</option>
            </select>
            <!-- <a href="javascript:;"><i class="fa fa-arrow-left" aria-hidden="true"></i></a>
                <a href="javascript:;" style="background-color:#1890FF;color: white;">1</a>
                <a href="javascript:;"><i class="fa fa-arrow-right" aria-hidden="true"></i></a> -->
            <span>到第  <input id="pageinput" autocomplete="off" value="1" min="1" max="10"
                    style="height: 22px;width: 35px;margin: 0;" type="number" name="page">  页</span>
            <button id="gopage">前往</button>
        </div>
        <div id="demo2"></div>
    </div>
</div>
{{/block}}
{{block 'bottom'}}
<script src="public/layui/layui.js"></script>
<script src="public/js/examineApplication.js"></script>
{{/block}}