{{extend './layout.html'}}
{{block 'titile'}}历史记录{{/block}}
{{block 'head'}}
    <link rel="stylesheet" href="public/layui/css/layui.css">
    <link rel="stylesheet" href="public/css/history.css">
{{/block}}
{{block 'body'}}
    <div class="search-top" id="search-top">
        <div class="search-title search-left">
            学分查询：
            <input type="text" class="search">
        </div>
        <div class="search-title">
            申请类型：
            <select class="search-type">
                <option value="">所有</option>
                <option value="1">学科竞赛</option>
                <option value="2">科技创新</option>
                <option value="3">社会实践</option>
                <option value="4">创业实践</option>
                <option value="5">职业技能</option>
            </select>
        </div>
        <div class="search-title">
            申请状态：
            <select class="search-type">
                <option value="">所有</option>
                <option value="0">未审核</option>
                <option value="1">通过</option>
                <option value="-1">未通过</option>
            </select>
        </div>
        <div class="select-time">
            <label>创建时间：</label>
            <input type="text" class="time-input" id="startTime" placeholder="开始时间">
            <span>-</span>
            <input type="text" class="time-input" id="endTime" placeholder="结束时间">
        </div>
        <div class="search-title">
            <a class="btn">
                <i class="font-search">

                </i>
                搜索
            </a>
            <a class="btn">
                <i class="font-search">

                </i>
                重置
            </a>
        </div>
    </div>
    <div class="content">
        <div class="table">
            <div class="container">
                <ul class="header back-color">
                    <li class=" lis">姓名</li>
                    <li class=" lis">学院</li>
                    <li class=" lis">班级</li>
                    <li class=" lis">申请类型</li>
                    <li class=" lis">申请时间</li>
                    <li class=" lis">申请状态</li>
                    <li class=" lis">总学分</li>
                    <li class=" lis">操作</li>
                </ul>
                <div class="main-content">
                    <ul class="header">
                        <li class="student-name lis">{{}}</li>
                        <li class="student-major lis">{{}}</li>
                        <li class="student-class lis">{{}}</li>
                        <li class="student-apply lis">{{}}</li>
                        <li class="student-time lis">{{}}</li>
                        <li class="student-state lis">{{}}</li>
                        <li class="student-apply-credit lis">{{}}</li>
                        <li class="student-operator lis">
                            <span class="check">查看</span>
                        </li>
                    </ul>
                </div>
<!--                <script type="text/html" id="main-content">-->
<!--                    {{each }}-->
<!--                    <ul class="header">-->
<!--                        <li class="student-name lis">{{}}</li>-->
<!--                        <li class="student-major lis">{{}}</li>-->
<!--                        <li class="student-class lis">{{}}</li>-->
<!--                        <li class="student-apply lis">{{}}</li>-->
<!--                        <li class="student-time lis">{{}}</li>-->
<!--                        <li class="student-state lis">{{}}</li>-->
<!--                        <li class="student-apply-credit lis">{{}}</li>-->
<!--                        <li class="student-operator lis">-->
<!--                            <span class="check">查看</span>-->
<!--                        </li>-->
<!--                    </ul>-->
<!--                    {{/each}}-->
<!--                </script>-->
            </div>
        </div>
        <div id="page">

        </div>
    </div>
{{/block}}

{{block 'bottom'}}
<script src="public/layui/layui.js"></script>
<script src="public/js/history.js"></script>
<script src="public/lib/template-web.js"></script>
{{/block}}