{{extend './layout.html'}}
{{block 'title'}}学院信息管理{{/block}}

{{block 'head'}}
<link rel="stylesheet" href="/public/css/LiUniversal.css">
<link rel="stylesheet" href="/public/css/InstituteInformationManagement.css">
{{/block}}

{{block 'bodytop'}}
<!-- 添加年级 -->
<div class="bodyTop" style="display: none;">
    <div class="">
        <div class="bodyTopItem">
            年级:
            <input type="text" placeholder="年级,例如:2018" autocomplete="off">
        </div>
        <div class="bodyTopBottom">
            <button class="addBtnSty">添加</button>
            <button class="cancel">取消</button>
        </div>
    </div>
</div>
<!-- 删除年级 -->
<div class="bodyTop" style="display: none;">
    <div class="">
        <div class="bodyTopItem">
            删除的年级:
            <select>
                <option value="">请选择</option>
                <option value="2018">2018</option>
            </select>
        </div>
        <div class="bodyTopBottom">
            <button class="delBtnSty">删除此年级</button>
            <button class="cancel">取消</button>
        </div>
    </div>
</div>
<!-- 修改年级 -->
<div class="bodyTop" style="display: none;">
    <div class="">
        <div class="bodyTopItem">
            原年级:
            <select>
                <option value="">请选择</option>
                <option value="2018">2018</option>
            </select>
        </div>
        <div class="bodyTopItem">
            修改为:
            <input type="text" placeholder="请输入新年级" autocomplete="off">
        </div>
        <div class="bodyTopBottom">
            <button class="reviseBtnSty">修改</button>
            <button class="cancel">取消</button>
        </div>
    </div>
</div>
<!-- 添加学院 -->
<div class="bodyTop" style="display: none;">
    <div class="">
        <div class="bodyTopItem">
            年级:
            <select id="">
                <option value="">请选择...</option>
            </select>
        </div>
        <div class="bodyTopItem">
            学院:
            <input type="text" placeholder="请输入学院名" autocomplete="off">
        </div>
        <div class="bodyTopBottom">
            <button class="addBtnSty">添加</button>
            <button class="cancel">取消</button>
        </div>
    </div>
</div>
<!-- 删除学院 -->
<div class="bodyTop" style="display: none;">
    <div class="">
        <div class="bodyTopItem">
            删除的年级:
            <select>
                <option value="">请选择</option>
                <option value="2018">2018</option>
            </select>
        </div>
        <div class="bodyTopBottom">
            <button class="delBtnSty">删除此年级</button>
            <button class="cancel">取消</button>
        </div>
    </div>
</div>
<!-- 修改学院 -->
<div class="bodyTop" style="display: none;">
    <div class="">
        <div class="bodyTopItem">
            原学院:
            <select>
                <option value="">请选择</option>
                <option value="2018">2018</option>
            </select>
        </div>
        <div class="bodyTopItem">
            修改为:
            <input type="text" placeholder="请输入新学院" autocomplete="off">
        </div>
        <div class="bodyTopBottom">
            <button class="reviseBtnSty">修改</button>
            <button class="cancel">取消</button>
        </div>
    </div>
</div>
<!-- 添加专业 -->
<div class="bodyTop" style="display: none;">
    <div class="">
        <div class="bodyTopItem">
            年级:
            <select>
                <option value="">请选择...</option>
                <option value="2018">2018</option>
            </select>
        </div>
        <div class="bodyTopItem">
            学院:
            <select id="">
                <option value="">请选择...</option>
            </select>
        </div>
        <div class="bodyTopItem">
            专业:
            <input type="text" placeholder="请输入专业名" autocomplete="off">
        </div>
        <div class="bodyTopBottom">
            <button class="addBtnSty">添加</button>
            <button class="cancel">取消</button>
        </div>
    </div>
</div>
<!-- 修改专业 -->
<div class="bodyTop" style="display: none;">
    <div class="">
        <div class="bodyTopItem">
            年级:
            <select>
                <option value="">请选择...</option>
                <option value="2018">2018</option>
            </select>
        </div>
        <div class="bodyTopItem">
            学院:
            <select id="">
                <option value="">请选择...</option>
            </select>
        </div>
        <div class="bodyTopItem">
            专业:
            <input type="text" placeholder="请输入修改专业名" autocomplete="off">
        </div>
        <div class="bodyTopBottom">
            <button class="addBtnSty">添加</button>
            <button class="cancel">取消</button>
        </div>
    </div>
</div>
<!-- 添加班级 -->
<div class="bodyTop" style="display: none;">
    <div>
        <div class="bodyTopItem">
            年级:
            <select>
                <option value="">请选择</option>
                <option value="2018">2018</option>
            </select>
        </div>
        <div class="bodyTopItem">
            学院:
            <select>
                <option value="">请选择...</option>
                <option value="">信息工程学院</option>
            </select>
        </div>
        <div class="bodyTopItem">
            专业:
            <select>
                <option value="">请选择...</option>
            </select>
        </div>
        <div class="bodyTopItem">
            班级:
            <input type="text" placeholder="班级,例如:计科214" autocomplete="off">
        </div>
        <div class="bodyTopBottom">
            <button class="addBtnSty">添加</button>
            <button class="cancel">取消</button>
        </div>
    </div>
</div>
<!-- 修改班级 -->
<div class="bodyTop" style="display: none;">
    <div class="">
        <div class="bodyTopItem">
            年级:
            <select>
                <option value="">请选择...</option>
                <option value="2018">2018</option>
            </select>
        </div>
        <div class="bodyTopItem">
            学院:
            <select id="">
                <option value="">请选择...</option>
            </select>
        </div>
        <div class="bodyTopItem">
            专业:
            <select id="">
                <option value="">请选择...</option>
            </select>
        </div>
        <div class="bodyTopItem">
            班级:
            <input type="text" placeholder="请输入班级" autocomplete="off">
        </div>
        <div class="bodyTopBottom">
            <button class="addBtnSty">添加</button>
            <button class="cancel">取消</button>
        </div>
    </div>
</div>
{{/block}}

{{block 'body'}}
<div class="InfoTopText">学院信息管理</div>
<div class="InfoTopSelect clearFloat">
    <div class="SelectSearch">
        <div class="InfoTopSelectItem floatLeft">
            年级:
            <select id="">
                <option value="">请选择...</option>
            </select>
        </div>
        <div class="InfoTopSelectItem floatLeft">
            学院:
            <select id="">
                <option value="">请选择...</option>
            </select>
        </div>
        <!-- <div class="floatLeft">
            <button class="addBtnSty">检索</button>
        </div> -->
        <div class="InfoTopSelectItem topOperator floatLeft">
            <button class="delBtnSty">删除年级</button>
            <button class="reviseBtnSty">修改年级</button>
            <button class="delBtnSty">删除学院</button>
            <button class="reviseBtnSty">修改学院</button>
            <button class="addBtnSty">添加学院</button>
            <button class="addBtnSty">添加专业</button>
        </div>
    </div>
</div>
<div class="InfoContent">
    <div class="InfoContentTop InfoContentItem">
        <ul>
            <li>专业</li>
            <li>排序</li>
            <li>操作框</li>
        </ul>
    </div>
    <div class="InfoContentItem InfoContentContent">
        <div class="InfoContentContentContentItem">
            <div class="InfoContentItem">
                <ul>
                    <li class="constituteSty">
                        <span class="expandItem" onclick='watchChild(this)'>
                            <span class="remove"></span>
                            <span onclick="" class=""></span>
                        </span>
                        <span>计算机科学与技术</span>
                    </li>
                    <li>1</li>
                    <li>
                        <button>添加班级</button>
                        <button>修改</button>
                        <button>删除</button>
                    </li>
                </ul>
                <!-- 存放班级的盒子 -->
                <div class="InfoContentItem" style="display: none;">
                    <ul>
                        <li>计科211</li>
                        <li>1</li>
                        <li>
                            <button>修改</button>
                            <button>删除</button>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
{{/block}}

{{block 'bottom'}}
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="/public/js/InstituteInformationManagement.js"></script>
{{/block}}