{{extend './layout.html'}}
{{block 'title'}}申请详情{{/block}}
{{block 'head'}}
<link rel="stylesheet" href="public/css/particulars.css">
{{/block}}
{{block 'body'}}
    <div class="content">
        <a class="returns">返回页面</a>
        <a class="download">下载附件</a>
        <div>
            <div class="application-details"><span>申请详情</span></div>
            <div class="history-details">
                <div class="application-message">

                </div>
                <div class="ranking">

                </div>
                <div class="describe">

                </div>
                <div class="reject">

                </div>
                <div class="attchment">
                    <div class="attchment">
                        <div class="attchment-title">附件</div>
                        <div class="attchment-header"></div>
                        <div class="layui-carousel" id="attchment-pic">
                            <div carousel-item class="carousel-item">
<!--                                <div class="attchment-everyOne"><img src='/public/img/loginback.png' class="attchment-imgs"></div>-->
<!--                                <div class="attchment-everyOne"><img src='/public/img/loginback.png' class="attchment-imgs"></div>-->
<!--                                <div class="attchment-everyOne"><img src='/public/img/loginback.png' class="attchment-imgs"></div>-->
<!--                                <div class="attchment-everyOne"><img src='/public/img/loginback.png' class="attchment-imgs"></div>-->
<!--                                <div class="attchment-everyOne"><img src='/public/img/loginback.png' class="attchment-imgs"></div>-->
                            </div>
                        </div>
                    </div>
                </div>
<!--                <script type="text/html" id="details">-->
<!--                    <div class="application-message">-->
<!--                        <ul class="messages">-->
<!--                            <li>-->
<!--                                姓名：-->
<!--                                <span class="name">{{}}</span>-->
<!--                            </li>-->
<!--                            <li>-->
<!--                                性别：-->
<!--                                <span class="sex">{{}}</span>-->
<!--                            </li>-->
<!--                            <li>-->
<!--                                学号：-->
<!--                                <span class="student-number">{{}}</span>-->
<!--                            </li>-->
<!--                            <li>-->
<!--                                所属学院：-->
<!--                                <span>{{}}</span>-->
<!--                            </li>-->
<!--                            <li>-->
<!--                                专业：-->
<!--                                <span>{{}}</span>-->
<!--                            </li>-->
<!--                            <li>-->
<!--                                班级：-->
<!--                                <span>{{}}</span>-->
<!--                            </li>-->
<!--                            <li>-->
<!--                                申请类型：-->
<!--                                <span>{{}}</span>-->
<!--                            </li>-->
<!--                            <li>-->
<!--                                是否为集体项目：-->
<!--                                <span>{{}}</span>-->
<!--                            </li>-->
<!--                            <li class="parctice-content">-->
<!--                                实践内容说明：-->
<!--                                <div>-->

<!--                                </div>-->
<!--                            </li>-->
<!--                        </ul>-->
<!--                    </div>-->

<!--                    <div class="attchment">-->
<!--                        <div class="attchment-title">附件</div>-->
<!--                        <div class="layui-carousel" id="attchment-pic">-->
<!--                            <div carousel-item>-->
<!--                                <div class="attchment-everyOne"><img src='/public/img/loginback.png' class="attchment-imgs"></div>-->
<!--                                <div class="attchment-everyOne"><img src='/public/img/loginback.png' class="attchment-imgs"></div>-->
<!--                                <div class="attchment-everyOne"><img src='/public/img/loginback.png' class="attchment-imgs"></div>-->
<!--                                <div class="attchment-everyOne"><img src='/public/img/loginback.png' class="attchment-imgs"></div>-->
<!--                                <div class="attchment-everyOne"><img src='/public/img/loginback.png' class="attchment-imgs"></div>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </script>-->

            </div>
        </div>
    </div>
{{/block}}

{{block 'bottom'}}
<script src="public/js/particulars.js"></script>
<script src="public/lib/template-web.js"></script>
{{/block}}