{{extend './layout.html'}}
{{block 'head'}}
<link rel="stylesheet" href="public/css/particulars.css">
{{/block}}
{{block 'body'}}
    <div class="content">
        <div>
            <div class="application-details"><span>申请详情</span></div>
            <div class="application-message">
                <ul class="messages">
                    <li>
                        姓名：
                        <span class="name">郑龙龙</span>
                    </li>
                    <li>
                        性别：
                        <span class="sex"></span>
                    </li>
                    <li>
                        学号：
                        <span class="student-number"></span>
                    </li>
                    <li>
                        所属学院：
                        <span></span>
                    </li>
                    <li>
                        专业：
                        <span></span>
                    </li>
                    <li>
                        班级：
                        <span></span>
                    </li>
                    <li>
                        申请类型：
                        <span></span>
                    </li>
                    <li>
                        是否为集体项目：
                        <span></span>
                    </li>
                    <li class="parctice-content">
                        实践内容说明：
                        <div>

                        </div>
                    </li>
                </ul>
            </div>
            <div class="attchment">
                <div class="attchment-title">附件</div>
                <div class="attchment-pic">

                </div>
            </div>
        </div>
    </div>
{{/block}}

{{block 'bottom'}}
<script src="public/js/particulars.js"></script>
{{/block}}