<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>修改密码</title>
</head>
<link rel="stylesheet" href="public/css/repassword.css">
<link rel="stylesheet" href="public/css/moudel/sweetalert.css">
<link href="https://cdn.bootcdn.net/ajax/libs/twitter-bootstrap/5.2.0-beta1/css/bootstrap.min.css" rel="stylesheet">

<body>
    <div id="top">
        <div>
            <img src="public/img/schoollogo2.png" alt="">
            <div>创新学分认证系统</div>
        </div>
    </div>
    <div id="main">
        <div class="inset">
            <div class="login-head">
                修改密码
            </div>
            <div id="loginmain">
                <!-- <div class="li">
                    <input type="text" class="text form-control" autocomplete="off" name="userName" placeholder="账号"><a
                        href="#" class=" icon user"></a>
                </div> -->
                <div class="clear"></div>
                <div class="li">
                    <input type="password" placeholder="现密码" name="mypassword" class="text form-control"> <a href="#"
                        class="icon lock"></a>
                    <div class="clear"> </div>
                </div>
                <div class="li">
                    <input type="password" placeholder="新密码" name="password" class="text form-control"> <a href="#"
                        class="icon lock"></a>
                    <div class="clear"> </div>
                </div>
                <div class="li">
                    <input type="password" placeholder="再输入新密码" name="repassword" class="text form-control"> <a href="#"
                        class="icon lock"></a>
                    <div class="clear"> </div>
                </div>
                <div class="submit">
                    <input type="submit" value="修改" onclick="myFunction()">
                </div>
            </div>
        </div>
    </div>
    </div>
    </div>
    <div class="footer">
        <p><a href="">未来 &copy; 2022. </a></p>
    </div>
    <script src="https://cdn.bootcdn.net/ajax/libs/jquery/3.6.0/jquery.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://cdn.bootcss.com/sweetalert/1.1.3/sweetalert.min.js"></script>
    <script src="public/js/repassword.js"></script>
</body>

</html>