{{extend './layout.html'}}
{{block 'title'}}发布申请{{/block}}
{{block 'head'}}
<link rel="stylesheet" href="public/css/submitApplication.css">
<link rel="stylesheet" href="public/css/Applicationprogress.css">
{{/block}}
{{block 'body'}}
<div class="content">
  <div class="card-body">
    <ul class="nav-step">
      <li class="nav-step-item active complete">
        <span>发布申请</span>
        <a class="active" aria-expanded="false">
        </a>
      </li>
      <li class="nav-step-item">
        <span>上传附件</span>
        <a class="uncomplete">
        </a>
      </li>
      <li class="nav-step-item">
        <span>上传成功</span>
        <a class="uncomplete">
        </a>
      </li>
    </ul>
  </div>
</div>
<fieldset class="layui-elem-field layui-field-title" style="margin-top: 10px;">
  <legend>申请表提交</legend>
</fieldset>
<form action="" id="form">
  <div class="layui-form-item">
    <label class="usermessage-type">姓名：<span class="usermessage"></span></label>
    <label class="usermessage-type">性别：<span class="usermessage"></span></label>
    <label class="usermessage-type">学号：<span class="usermessage"></span></label>
    <label class="usermessage-type">所属学院：<span class="usermessage"></span></label>
    <label class="usermessage-type">班级：<span class="usermessage"></span></label>
  </div>
  <div class="layui-form-item">
    <label class="layui-form-label">学分类型</label>
    <div class="layui-input-block">
      <select name="application_credit_type" onchange="setson()" lay-filter="aihao">
        {{ if credittype}}
        {{each credittype value i}}
        <option value="{{value.aid}}">{{value.afirstLevel}}</option>
        {{/each}}
        {{else}}
        <option value="">无</option>
        {{/if}}
      </select>
    </div>
  </div>
  <div class="layui-form-item" id="credittypeson">
    <label class="layui-form-label">获奖指标</label>
    <div class="layui-input-block">
      <select name="specific_information" onchange="setsonson()" lay-filter="aihao">
      </select>
    </div>
  </div>
  <div class="layui-form-item" id="credittypesonson" style="display:none">
    <label class="layui-form-label">子级指标</label>
    <div class="layui-input-block">
      <select name="specific_information" id="son2" lay-filter="aihao">
      </select>
    </div>
  </div>
  <!-- <div class="layui-form-item" id="credittypeson2">
      <label class="layui-form-label">获奖指标</label>
      <div class="layui-input-block">
        <select name="specific_information2" lay-filter="aihao">
          <option value="0">请选择</option>
        </select>
      </div>
    </div>  -->
  <!-- <div class="layui-form-item">
      <label class="layui-form-label">是否为集体项目</label>
      <div class="layui-input-block">
        <input type="radio" name="team" value="不是" title="不是" checked="">
        <input type="radio" name="team" value="是" title="是">
      </div>
    </div> -->
  <div class="layui-form-item layui-form-text">
    <label class="layui-form-label">实践内容说明</label>
    <div class="layui-input-block">
      <textarea placeholder="请输入内容" class="layui-textarea" name="remarks"></textarea>
    </div>
  </div>
  <div class="layui-form-item">
    <div class="layui-input-block">
      <button type="button" class="layui-btn" lay-submit="" lay-filter="demo1" id="postbutton">立即提交</button>
    </div>
  </div>
</form>
{{/block}}
{{block 'bottom'}}
<script src="public/js/submitApplication.js"></script>
{{/block}}