{{extend './layout.html'}}
{{block 'title'}}添加用户{{/block}}
{{block 'head'}}
<link rel="stylesheet" href="/public/css/superAdminAddUser.css">
<link rel="stylesheet" href="/public/css/LiUniversal.css">
{{/block}}
{{block 'body'}}
<div class="popUps" style="display: none;">
    <span>
        <i class="iconfont">对号</i>
    </span>
    添加成功
</div>
<div class="popUps wrong" style="display: none;">
    <span>
        <i class="iconfont">叉号</i>
    </span>
    网络错误
</div>
<div class="popUps wrong" style="display: none;">
    <span>
        <i class="iconfont">叉号</i>
    </span>
    <span id="msgHint"></span>
</div>
<div class="addUserTop clearFloat">
    <span>添加用户基本信息</span>
    <div class="bulkAddUser floatRight">
        <button class="changeBtnStyle" id="addOrganization">添加组织信息</button>
        <button style="background-color: #ED5565;color: white;" id="cancelAddOrganization">取消添加组织信息</button>
    </div>
</div>
<div class="addUserContent">
    <div class="addUserItemgroupingTwo">
        <div class="addUserItem hintItem">
            姓名:<input type="text" id="usName" autocomplete="off" />
            <div class="hintText" style="display: none;">请填入姓名</div>
        </div>
        <div class="addUserItem hintItem">
            学号/教务账号:<input type="text" id="account" autocomplete="off" />
            <div class="hintText" style="display: none;">请填入正确的学号/教务账号</div>
        </div>
    </div>
    <div class="addUserItemgroupingTwo">
        <div class="addUserItem">
            用户身份:<select id="usPermission">
                <option value="">请选择用户身份</option>
                <option value="普通用户">普通用户</option>
                <option value="普通管理员">普通管理员</option>
                <option value="超级管理员">超级管理员</option>
            </select>
            <div class="hintText" style="display: none;">请选择用户身份</div>
        </div>
        <div class="addUserItem">
            初始密码:111111
        </div>
    </div>
    <div class="addUserItemgroupingTwo">
        <div class="">
            性别:<select id="sex">
                <option value="">请选择...</option>
                <option value="男">男</option>
                <option value="女">女</option>
            </select>
            <div class="hintText" style="display: none;">请选择用户性别</div>
        </div>
        <div class="teacherInformation">
            是否填写学生信息:
            <div class="choiceStuTea">
                <span>
                    <span id="defaultYes"></span>
                </span>是
            </div>
            <div class="choiceStuTea">
                <span>
                    <span id="defaultNo" style="display: none;"></span>
                </span>否
            </div>
        </div>
    </div>
    <div class="studentInformation">
        <div class="addUserItemgroupingTwo">
            <div class="addUserItem">
                所在年级:
                <select id="usGrade">
                    <option value="">请选择...</option>
                </select>
                <!-- <input type="text" id="usGrade" placeholder="年级,例如:2018" autocomplete="off"> -->
                <div class="hintText" style="display: none;">请选择所在年级</div>
            </div>
            <div class="addUserItem">
                所在学院:
                <select id="usCollege">
                    <option value="">请选择...</option>
                </select>
                <div class="hintText" style="display: none;">请选择所在学院</div>
            </div>
        </div>
        <div class="addUserItemgroupingTwo">
            <div class="addUserItem">
                所在专业:
                <select id="usSpecialized">
                    <option value="">请选择...</option>
                </select>
                <!-- <input type="text" placeholder="例如:计算机科学与技术"  id="usSpecialized" autocomplete="off"> -->
                <div class="hintText" style="display: none;">请选择所在专业</div>
            </div>
            <div class="addUserItem">
                所在班级:
                <select id="usClass">
                    <option value="">请选择...</option>
                </select>
                <!-- <input type="text" id="usClass" placeholder="班级,例如:计科214"> -->
                <div class="hintText" style="display: none;">请选择所在班级</div>
            </div>
        </div>
        <div class="addUserItemgroupingTwo" id="OrganizationInformation" style="display: none;">
            <div class="addUserItem">
                组织信息:
                <input type="text" placeholder="请输入组织信息" id="organization" autocomplete="off">
                <div class="hintText" style="display: none;">请选择输入</div>
            </div>
            <div class="addUserItem">
                组织职位:
                <input type="text" placeholder="请输入组织信息" id="position" autocomplete="off">
                <div class="hintText" style="display: none;">请选择输入</div>
            </div>
        </div>
    </div>
</div>
<div class="addUserBottom">
    <div class="addUserTop">其他信息</div>
    <div class="remarksItem">
        备注:
        <div class="remarks">
            <textarea id="Remarks"></textarea>
        </div>
    </div>
</div>
<div class="addUserOperator">
    <button id="save">保存</button>
    <button id="cancel">取消</button>
</div>
{{/block}}
{{block 'bottom'}}
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="/public/js/superAdminAddUser.js"></script>
{{/block}}