body {
    font-size: 14px;
}

.adminExportFormItem {
    width: 1500px;
    margin: 0px auto;
}

table{
    border-collapse: collapse
}


td {
    border: 1px solid black;
    text-align: center;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.adminExportFormItem>table>tbody>tr {
    display: inline-flex;
}

.adminExportFormCredit {
    display: flex;
}

.dieWidth {
    width: 95px;
}

.dieWidthTwo {
    width: 80px;
}

#download{
    padding: 8px;
    background-color: #1C84C6;
    color: white;
    margin-bottom: 20px;
    margin-right: 20px;
    margin-top: 20px;
}

.top{
    width: 1500px;
    margin: 0px auto;
    display: grid;
    grid-template-columns: 275px repeat(4,265px) 155px; 
    justify-content: center;
    align-items: center;
}

#reserve{
    background-color: #F8AC59;
    color: white;
}

#search{
    background-color: #1AB394;
    color: white;
}

.tdSty>tr>td{
    height: 55px;
}

.adminExportFormCredit{
    padding: 0px;
    border: 0px;
}