.bodyTop{
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .4);
    position: fixed;
    z-index: 999;
}

.bodyTop>div{
    padding: 30px;
    margin: 100px auto;
    width: 550px;
    min-height: 250px;
    max-height: 500px;
    background-color: white;
}

.bodyTopItem{
    margin-bottom: 20px;
}

.addChildDri{
    background-color: #F8AC59;
    color: white;
}

.cancel{
    background-color: #F59DA6;
    color: white;
}

.bodyTopItem{
    min-height: 10px;
}

.dirItemI{
    margin-bottom: 10px;
}

#sureAdd{
    background-color: #1AB394;
    color: white;
}

#cancelAdd{
    background-color: #ED5565;
    color: white;
}

.dirItem{
    max-height: 300px;
    overflow-y: auto;
}

.adminCreditManagementTop {
    padding-bottom: 10px;
    border-bottom: 1px solid #DDDDDD;
}

.topText {
    color: #638ED3;
    margin-bottom: 15px;
}

.selectCondition {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

#sureSearch {
    background-color: #1AB394;
    color: white;
}

#resetSearch {
    background-color: #F8AC59;
    color: white;
}

#add{
    background-color: #1A7BB9;
    color: white;
}

#del{
    background-color: #ED5565;
    color: white;
    margin-top: 10px;
}

.adminCreditManagementContent{
    min-height: 200px;
}

.adminCreditManagementContentTop {
    margin-top: 10px;
}

.adminCreditManagementContentTop>ul {
    background-color: #EFF3F8;
}

.adminCreditManagementContentItem>ul {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    align-items: center;
    text-align: center;
    border-bottom: 1px solid #F5F5F5;
    padding: 5px 0px;
}

.adminCreditManagementContentItem>ul>li>button {
    padding: 0px;
}

.expandItem {
    position: relative;
    margin-left: 73px;
    margin-right: 5px;
    padding-right: 7px;
    top: 2px;
    display: inline-block;
    width: 30px;
    height: 20px;
}

.expandItem>span {
    display: inline-block;
    width: 3px;
    height: 14px;
    background-color: #a8a5a5;
}

.expandItem>span:nth-child(1) {
    position: relative;
    left: -3px;
    right: 10px;
}

.expandItem>span:nth-child(2) {
    position: relative;
    right: 10px;
    transform: rotate(90deg);
}

.ChildDetails {
    padding: 5px 0px 0px 0px;
    margin-left: 160px;
}

.ChildDetailsItem>ul {
    display: grid;
    grid-template-columns: 35px repeat(3, 1fr);
    align-items: center;
    text-align: center;
    border-bottom: 1px solid #F5F5F5;
    padding: 5px 0px;
}

.ChildDetailsItem>ul>li>button {
    padding: 0px;
}

.adminCredManagementBottom {
    margin-top: 15px;
}

.adminCredManagementBottom>button{
    padding: 5px;
    background-color: #638ED3;
    color: white;
}

#selectPerpage{
    width: 60px;
}

#lastPage{
    margin-left: 40px;
}

#nowPage{
    background: #6DD9C3;
    color: white;
    padding: 8px 10px;
}

#jumpPage{
    width: 40px;
    padding-left: 5px;
}

#jump{
    color: white;
    background-color: #F8AC59;
}

.adminHistoryContentNo{
    color: red;
    font-size: 35px;
    height: 400px;
    line-height: 400px;
    text-align: center;
}

.constituteSty{
    display: grid;
    grid-template-columns: 30px 200px;
    text-align: center;
    justify-content: center;
}

.SecondDir{
    position: relative;
    left: -45px;
}