input{
    color: #A699A6;
}

.bodyTop{
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .4);
    position: fixed;
    z-index: 999;
}

.bodyTop>div{
    padding: 30px;
    margin: 100px auto;
    width: 425px;
    min-height: 250px;
    background-color: white;
}

.bodyTopItem{
    margin-bottom: 10px;
    /* display: inline-block; */
}

.bodyTopItem>input{
    width: 70%;
    height: 30px;
}

.bodyTopItem>select{
    width: 70%;
    height: 30px;
}

.bodyTopBottom{
    margin-left: 130px;
}

#cancel{
    background-color: #ED5565;
    color: white;
}

#cancelOrganization{
    background-color: #ED5565;
    color: white;
}

#changeUserInfo{
    background-color: #1AB394;
    color: white;
}

#OrganizationSure{
    background-color: #1AB394;
    color: white;
}

.topText {
    color: #638ED3;
}

.selectUser{
    margin-top: 10px;
    padding: 0px 10px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
}

.selectUser>div{
    margin-bottom: 10px;
}

#sureSearch{
    background-color: #1AB394;
    color: white;
    padding: 5px;
}

#reset{
    background-color: #F8AC59;
    color: white;
    padding: 5px;
    margin-left: 5px;
}

.totalNumber{
    margin-bottom: 10px;
}

#del {
    padding: 5px;
    font-size: 14px;
    background-color: #F59DA6;
    color: white;
}

.adminManageUsersTop {
    padding-bottom: 10px;
    border-bottom: 1px solid #DDDDDD;
}

.adminHistoryContentItem>ul {
    display: grid;
    grid-template-columns: 35px repeat(8, 1fr);
    align-items: center;
    text-align: center;
    border-bottom: 1px solid #F5F5F5;
    padding: 5px 0px;
}

.adminManageUsersContent {
    margin-top: 10px;
    /* min-height: 200px; */
}

.adminManageUsersContentTop>ul {
    background-color: #EFF3F8;
}

.adminManageUsersContentContent{
    min-height: 200px;
}

.adminManageUsersContentContent>ul:hover {
    background-color: #F5F5F5;
}

.adminManageUsersContentContent>ul:hover>li>button {
    background-color: #F5F5F5;
}

.adminManageUsersContentContent>ul>li>button {
    padding: 0px;
}

.operatorBtnSty {
    color: #806A84;
}

.operatorBtnSty:hover {
    color: red;
}

.adminHistoryContentBottom{
    margin-top: 15px;
}

.adminHistoryContentBottom>button {
    padding: 5px;
    /* background-color: #638ED3; */
    /* color: white; */
    color: #333;
    border-radius: 2px;
    border: 1px solid #eee;
}

#selectPerpage {
    width: 44px;
    padding: 2px;
}

#lastPage {
    margin-left: 40px;
}

#nowPage {
    /* background: #6DD9C3; */
    background-color: #009688;
    color: white;
    padding: 8px 10px;
}

#jumpPage {
    width: 40px;
    padding-left: 5px;
}

#jump {
    color: white;
    background-color: #F8AC59;
}

#adminHistoryContentNo {
     /* color: red; */
     font-size: 35px;
     height: 200px;
     /* line-height: 200px; */
     text-align: center;
     display: flex;
}

#add{
    background-color: #368AE2;
    color: white;
    padding: 5px;
}