.layui-form-label {
    width: 65px;
    padding: 9px 0px 9px 0px;
    text-align: left;
}

.layui-form-item .layui-input-inline {
    margin-right: 20px;
}

.WatchApplicationTop {
    border-bottom: 1px solid #DDDDDD;
    padding-bottom: 5px;
}



.selectConditionItemChange {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.topText {
    color: #638ED3;
    margin-bottom: 15px;
}

.selectCondition {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-content: center;
    justify-content: center;
}

.selectConditionItem {
    margin-bottom: 10px;
}

#sureSearch {
    background-color: #1AB394;
    color: white;
}

#exportForm {
    background-color: #5277ae;
    margin-left: 10px;
    color: white;
}

#importForm {
    background-color: #638ED3;
    color: white;
    margin-left: 20px;
}

.operator {
    position: relative;
}

#reset {
    background-color: #F8AC59;
    color: white;
    margin-left: 15px;
}

.WatchApplicationContent {
    margin-top: 10px;
}

#allNumber {
    margin-bottom: 10px;
}

.WatchApplicationContentItem>ul {
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    justify-content: center;
    align-content: center;
    text-align: center;
    padding: 5px 0px;
    border-bottom: 1px solid #F5F5F5;
}

.WatchApplicationContentTop>ul {
    background-color: #EFF3F8;
}

.WatchApplicationContentItem>ul>li>button {
    padding: 0px;
    color: #806A84;
}

.WatchApplicationContentContent {
    min-height: 200px;
}

.WatchApplicationContentContent>ul:hover {
    background-color: #F5F5F5;
}

.WatchApplicationContentContent>ul:hover>li>button {
    background-color: #F5F5F5;
}

.watchDetails{
    margin-right: 5px;
}

.watchDetails:hover {
    color: red;
}

.WatchApplicationBottom {
    margin-top: 15px;
}

.WatchApplicationBottom>button {
    padding: 5px;
    background-color: #638ED3;
    color: white;
}

#selectPerpage {
    width: 60px;
}

#lastPage {
    margin-left: 40px;
}

#nowPage {
    background: #6DD9C3;
    color: white;
    padding: 8px 10px;
}

#jumpPage {
    width: 40px;
    padding-left: 5px;
}

#jump {
    background-color: #F8AC59;
}

.WatchApplicationNo {
     /* color: red; */
     font-size: 35px;
     height: 200px;
     /* line-height: 200px; */
     text-align: center;
     display: flex;
}