.search-top{
    position: relative;
    border-radius: 6px;
    margin-top: 10px;
    padding-top: 5px;
    padding-bottom: 13px;
    box-shadow: 1px 1px 3px rgba(0,0,0,.2);
    width: 100%;
    background: white;
}
.search-title{
    color: rgb(51 51 51);
    margin: 5px 15px 5px 15px;
    display: inline-block;
    box-sizing: border-box;
    font-size: 13px;
}
.search{
    border: 1px solid rgb(221 221 221);
    border-radius: 4px;
    background: transparent;
    outline: 0;
    height: 30px;
    width: 200px;
    padding-left: 5px;
}
.btn{
    border-radius: 50px;
    background-color: rgb(26 179 148);
    border-color: rgb(26 179 148);
    color: rgb(255 255 255);
    padding: 5px 10px;
    font-size: 12px;
    line-height: 1.5;
    display: inline-block;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    font-weight: 400;
    cursor: pointer;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
}
.font-search{
    cursor: pointer;
    /*width: 12px;*/
}
.font-search:before{
    content: '&#xe651';
}