* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

#nav {
  min-height: 100vh;
  background-color: #368AE2;
  color: #fff;
  transition: all 0.3s;
  position: fixed;
  z-index: 100;
  min-width: 180px;
  max-width: 180px;
  margin-top: 55px;
}

#nav a {
  text-decoration: none;
}

#nav span {
  display: block;
}
#nav .layui-nav{
  width: 180px;
  background-color: #368AE2;
}
#nav .layui-this{
  background-color: #1271D5;
}
#nav .layui-nav-bar{
 width: 10px;
}
#nav .layui-nav-itemed>.layui-nav-child:first-child{
  display: block;
  background-color: rgba(0,0,0,0)!important;
}
#nav .column_a {
  line-height: 20px;
  text-decoration: none;
  color: #BCE2FF;
  display: flex;
  cursor: pointer;
  width: 100%;
  padding: 10px 0;
  height: 40px;
  margin-top: 10px;
  transition: all 0.3s;
  font-size: 16px;
  font-weight: 500;
}

#nav .column_a:hover {
  color: white;
  background-color: #1271D5;
}

#nav .column_a i {
  padding: 2px;
  margin-left: 25px;
  width: 22px;
  height: 20px;
}

#head {
  height: 55px;
  width: 100%;
  z-index: 2;
  background-color: #368AE2;
  position: fixed;
  top: 0;
  color: white;
  transition: all 0.3s;
  overflow: hidden;
}

#head #logo {
  height: 50px;
  float: left;
  margin: 3px;
}

#head #Projecttitle {
  float: left;
  font-size: 22px;
  font-weight: 400;
  line-height: 55px;
  color: white;
}

#head #head-cord {
  min-width: 80px;
  background-color: #1271D5;
  cursor: pointer;
  float: right;
  position: relative;
  height: 55px;
  color: white;
  line-height: 55px;
  display: flex;
  justify-content: center;
  padding: 20px 12px 10px 15px;
}

#head #head-cord a {
  text-decoration: none;
}

#head #head-cord #head-cord-fade {
  position: fixed;
  top:55px;
  right: 0;
  z-index: 5;
  width: 150px;
  text-decoration: none;
  padding: 10px 6px;  
  font-size: 15px;
  color: #368AE2;
  box-shadow: #b1aeae 0px 0px 6px;
  text-align: left;
  list-style: none;
  background-color: #fff;
  border: none;
  display: none;
}

#head #head-cord #head-cord-fade .dropdown-item {
  font-size: 15px;
  display: block;
  color: #368AE2;
  padding: 4px 15px;
  border-bottom: none;
  line-height: normal;
}

#head #head-cord #head-cord-fade .dropdown-item:hover {
  background-color: #1271D5;
  color: white;
}

#body {
  width: 100%;
  min-height: 100vh;
  background-color: #F8F8F8;
  transition: all 0.3s;
  min-width:800px;
  padding: 58px 10px 10px 190px;
}

#body #begin-main {
  width: 100%;
  height: 600px;
  background-color: wheat;
}
