* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body{
    background-color: #F8F8F8;
}
#renav {
  min-height: 100vh;
  background-color: #368AE2;
  color: #fff;
  transition: all 0.3s;
  position: fixed;
  z-index: 100;
  min-width: 180px;
  max-width: 180px;
  margin-top: 55px;
  padding-top: 20px;
}

#renav a {
  text-decoration: none;
}

#renav span {
  display: block;
}
#renav .layui-nav{
  width: 180px;
  background-color: #368AE2;
}
#renav .column_a {
  line-height: 20px;
  color: #BCE2FF;
  display: flex;
  cursor: pointer;
  width: 100%;
  padding: 10px 0;
  height: 40px;
  margin-bottom: 10px;
  transition: all 0.3s;
  font-size: 14px;
  font-weight: 500;
  border-radius: 5px;
}
.renav-item{
  margin-top: 5px;
}
.renav-item .child{
  height: 0;
  overflow: hidden;
  /* display: none; */
  background-color: #26609E;
  color: white;
}
.renav-item a{
  line-height: 35px;
  color: #BCE2FF;
  display: flex;
  cursor: pointer;
  width: 100%;
  padding-left: 20px;
  height: 35px;
  transition: all 0.2s;
  font-size: 14px;
  font-weight: 500;
}
.renav-item a:hover{
  background-color: #2f74bd;
}
.item_top{
  line-height: 45px;
  color: #BCE2FF;
  display: flex;
  cursor: pointer;
  width: 100%;
  height: 45px;
  padding: 0 10px;
  transition: all 0.2s;
  font-size: 18px;
  font-weight: 500;
  justify-content: space-around;
  background-color: #1271D5;
}
.item_top .fa{
  line-height: 30px;
  transition: .2s;
}
.item_top .fa-chevron-up{
  transform:rotatex(-180deg);
}
.renav-itemed .child{
  padding: 5px 0;
  height: auto;
  background-color: #26609E;
  color: white;
  border-radius: 5px;
  /* display: block; */
}
.renav-itemed .child a:hover{
  color: white;
  /* display: block; */
}
.renav-itemed .child a i{
  font-size: 12px;
  line-height: 34px;
  padding-right: 3px;
}
.childed{
  color: white;
  background-color:#1271D5;
}
.item_top:hover{
  background-color: #1271D5;
  color: white;
}
.item_top  .iii{
  line-height: 35px;
  padding: 0px;
}
#renav .column_a:hover {
  color: white;
  background-color: #1271D5;
}
#renav .column_a i {
  padding: 2px;
  margin-left: 20px;
  width: 22px;
  height: 20px;
}

#head {
  height: 55px;
  width: 100%;
  z-index: 2;
  background-color: #368AE2;
  position: fixed;
  top: 0;
  color: white;
  transition: all 0.3s;
  overflow: hidden;
  border-bottom:white 2px solid;
}

#head #logo {
  height: 50px;
  float: left;
  margin: 3px;
}

#head #Projecttitle {
  float: left;
  font-size: 22px;
  font-weight: 400;
  line-height: 55px;
  color: white;
}

#head #head-cord {
  min-width: 80px;
  background-color: #1271D5;
  cursor: pointer;
  float: right;
  position: relative;
  height: 55px;
  color: white;
  line-height: 55px;
  display: flex;
  justify-content: center;
  padding: 20px 12px 10px 15px;
}

#head #head-cord a {
  text-decoration: none;
}

#head #head-cord #head-cord-fade {
  position: fixed;
  top:53px;
  right: 0;
  z-index: 5;
  width: 150px;
  text-decoration: none;
  padding: 10px 6px;  
  font-size: 15px;
  color: #368AE2;
  box-shadow: #b1aeae 0px 0px 6px;
  text-align: left;
  list-style: none;
  background-color: #fff;
  border: none;
  display: none;
}

#head #head-cord #head-cord-fade .dropdown-item {
  font-size: 13px;
  display: block;
  color: black;
  padding: 4px 15px;
  border-bottom: none;
  line-height: normal;
}
#head #head-cord #head-cord-fade .dropdown-item:hover {
  background-color: #1271D5;
  color: white;
}
#head #head-cord #head-cord-fade i {
  padding: 0 4px;
  color: #368AE2;
}

#body {
  width: 100%;
  min-height: 100vh;
  background-color: #F8F8F8;
  transition: all 0.3s;
  min-width:800px;
  padding: 58px 10px 10px 190px;
}

#body #begin-main {
  width: 100%;
  height: 600px;
  background-color: wheat;
}
.columned{
  background-color: #1271d5;
}