.content{
    min-height: 75%;
    width: 100%;
    background: hsl(0deg 0% 100%);
    border-radius: 6px;
    margin-top: 10px;
    padding-top: 5px;
    padding-bottom: 13px;
    box-shadow: 1px 1px 3px rgb(0 0 0 / 20%);
    position: relative;
    padding-right: 15px;
    padding-left: 15px;
    box-sizing: border-box;
}
.download{
    position: absolute;
    padding: 5px 10px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 3px;
    display: inline-block;
    font-weight: 400;
    margin-bottom: 0;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    border: 1px solid transparent;
    color: white;
    background-color: rgb(54,138,226);
    border-color: rgb(54,138,226);
    right: 20px;
    top: 10px;
}
a:hover{
    color: white;
}
.application-details{
    text-align: center;
    font-weight: 700;
    margin: 5px 10px 15px 10px;
    font-size: 20px;
}
.application-message{
    overflow: hidden;
}
.messages{
    overflow: hidden;
}
.messages li{
    display: inline-block;
    width: 50%;
    box-sizing: border-box;
    float: left;
    font-weight: 900;
    font-size: 15px;
    padding-bottom: 10px;
    padding-right: 15px;
}
.parctice-content{
    width: 100%;
}
.parctice-content span{
    display: block;
    color: black;
    font-weight: 700;
    margin-bottom: 10px;
}
.failure span{
    display: block;
    color: black;
    font-weight: 700;
    margin-bottom: 10px;
}
.attchment-title{
    text-align: left;
    font-weight: 700;
    margin: 5px 10px 15px 0;
    font-size: 20px;
}
.attchment-pic{
    box-sizing: border-box;
    overflow: hidden;
}
.attchment-everyOne{
    width: 100%;
    height: 300px;
}
.attchment-imgs{
    width: 100%;
    height: 300px;
    object-fit: contain;
    cursor: pointer;
}
#textarea{
    width: 100%;
    min-height: 100px;
    font-size: 15px;
    padding: 6px 10px;
    color: rgba(0,0,0,0.85);
    border: 1px solid rgb(238 238 238);
    border-radius: 3px;
}
.no-content{
    text-align: center;
    line-height: 30px;
    font-weight: 600;
}
.attchment-header{
    text-align: center;
    margin-bottom: 5px;
    font-weight: 700;
    height: 33px;
    line-height: 33px;
    font-size: 23px;
}
.contents{
    display: inline-block;
    width: 50%;
    box-sizing: border-box;
    float: left;
    font-weight: 900;
    font-size: 15px;
    padding-bottom: 10px;
    padding-right: 15px;
}