.content{
    min-height: 75%;
    width: 100%;
    background: hsl(0deg 0% 100%);
    border-radius: 6px;
    margin-top: 10px;
    padding-top: 5px;
    padding-bottom: 13px;
    box-shadow: 1px 1px 3px rgb(0 0 0 / 20%);
    position: relative;
    padding-right: 15px;
    padding-left: 15px;
    box-sizing: border-box;
}
.card-body{
    padding: 24px 24px;
    padding-top: 15px;
    box-sizing: border-box;
}
.nav-step{
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: baseline;
    align-items: baseline;
    padding: 0px;
    margin-bottom: 1rem;
    margin-top: 0;
    box-sizing: border-box;
}
.nav-step-item{
    position: relative;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    -webkit-box-flex: 1;
    -webkit-box-align: center;
    align-items: center;
    flex: 1 1;
    padding: 0 12px;
}
.nav-step a{
    display: inline-flex;
    padding: 0;
    margin: 10px 0;
    width: 29px;
    height: 29px;
    max-height: 29px;
    background-color: rgb(247 250 252);
    border-radius: 50%;
    transition: .5s;
    z-index: 1;
}
.nav-step a:after{
    content: "\f12c";
    width: 0;
    height: 0;
    text-align: center;
    font-size: 15px;
    position: absolute;
    border-radius: 50%;
    background-color: transparent;
    color: transparent;
    transform: translate(14.5px, 14.5px);
    transition: .5s;
    z-index: 1;
    display: inline-block;
    align-items: center;
    justify-content: center;
}
.nav-step-item.complete a::after{
    width: 29px;
    height: 29px;
    /*-webkit-transform: translateX(0);*/
    transform: translateX(0);
    color: #fff;
    margin-top: 0;
}
.nav-step .uncomplete:before{
    content: '';
    position: absolute;
    left: calc(-50% + 14.5px);
    right: calc(50% + 14.5px);
    height: 10px;
    margin-top: 9.5px;
    background-color: rgb(247 250 252);
    cursor: default;
    /*-webkit-transition: .5s;*/
    transition: .5s;
    box-sizing: border-box;
}
.nav-step-item  .active:after{
    display: inline-block;
    width: 13px;
    height: 13px;
    margin-top: 8px;
    /*-webkit-transform: translateX(8px);*/
    transform: translateX(8px);
    color: transparent;
    background-color: rgb(51 202 187);

}
.active a{
    background-color: rgb(220 252 250);
}
.complete a{
    background-color: rgb(220 252 250);
}