#topdf {
  font-size: 16px;
  color: #eb5555;
}

#topdf:hover {
  color: red;
}

#notes {
  font-size: 12px;
  color: #5f5f5f;
}

#datatop {
  width: 100%;
  display: flex;
}

.layui-btn {
  margin: 0 10px;
}

.layui-form-label {
  padding: 9px 0px;
}

.layui-input-block {
  margin-left: 90px;
  min-height: 36px;
  margin-right: 20px;
}

.layui-form-item {
  width: 400px;
  max-width: 400px;
  min-width: 300px;
}

.layui-upload-table {
  min-height: 300px;
}

.loading {
  display: inline-block;
  height: 15px;
  width: 15px;
  border-radius: 50%;
  border: 2px solid dodgerblue;
  border-bottom-color: transparent;
  -webkit-animation: loadingRotate 0.75s linear infinite;
  animation: loadingRotate 0.75s linear infinite;
  margin-right: 15px;
}

@-webkit-keyframes loadingRotate {
  0% {
    -webkit-transform: rotate(0deg);
  }
  50% {
    -webkit-transform: rotate(180deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes loadingRotate {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
