# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\前端\xfyd\credit-recognition-system\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
